[Unit]
Description=Copy ZFS files to initrd for shutdown
BindsTo=mkinitcpio-generate-shutdown-ramfs.service

[Service]
Type=oneshot
# /tmp could be umounted at this point
# use /run as temporary directory
Environment=TMPDIR=/run
ExecStart=/usr/bin/mkinitcpio -A sd-zfs-shutdown -k none -c /dev/null -d /run/initramfs
